.container#sign-in
  %br
  %h1 Sign In
  %br
  %a.login-fb{:href=>"/auth/facebook"}
    %img{:src=>"/images/login-facebook.png"}
  %br
  %br
  %p{:style=>"font-size:20px;line-height:24px"} Or
  =form_for(:session, :url => sessions_path) do |f|
    .field
      =f.label :email
      =f.text_field :email
    .field
      =f.label :password
      =f.password_field :password
    .actions
      = f.submit "Sign In"


