.bundle
db/*.sqlite3
log/*.log
log/searchd.development.pid
tmp/
.sass-cache/
.idea/*
config/development.sphinx.conf
db/sphinx/*
.DS_Store

app/.DS_Store

tmp/cache/assets/*

app/.DS_Store

*.log

log/development.log

tmp/cache/assets/CD8/370/sprockets%2F357970feca3ac29060c1e3861e2c0953

tmp/cache/assets/D32/A10/sprockets%2F13fe41fee1fe35b49d145bcc06610705

tmp/cache/assets/D5A/EA0/sprockets%2Fd771ace226fc8215a3572e0aa35bb0d6
