#user-profile-page
  %section.content-container
    .container.relativePosition.shadow
      %ul.nav.nav-tabs
        %li.active
          %a{:href=>"#"} You wins
        %li 
          %a{:href=>"#"} Earned Deals
        %li 
          %a{:href=>"#"} Rewards Store
      #content-container

= render :partial => 'template'


   
  
