#user-profile-page
  %section.content-container
    .container.relativePosition.shadow
      %ul.nav.nav-tabs
        %li.active
          %a{:href=>"#"} You wins
        %li 
          %a{:href=>"#"} Earned Deals
        %li 
          %a{:href=>"#"} Rewards Store
      #content-container

= render :partial => 'template'

= javascript_include_tag 'models/User.js'
= javascript_include_tag 'views/ProfileView.js'
= javascript_include_tag 'routers/ProfileRouter.js' 

:javascript
  var router = new ProfileRouter();
  Backbone.history.start();


   
  
