.modal.hide.fade#pre-sign-up-modal
  .modal-header
    %h2= @form_header
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  .modal-body
    - if is_consumer?
      = form_for(:user, :url =>"/users/pre_sign_up") do |f|
        .field
          =f.label :last_name
          =f.text_field :last_name
        .field
          =f.label :first_name
          =f.text_field :first_name
        .field
          =f.label :email
          =f.email_field :email
        .btn.green-btn.submit-btn Submit
    - else  
      = form_for(:retailer, :url =>"/retailers/pre_sign_up") do |f|
        .field
          =f.label :company_name
          =f.text_field :name
        .field
          =f.label :company_website
          =f.text_field :website
        .field
          =f.label :contact_email
          =f.email_field :email
        .btn.green-btn.submit-btn Submit
  :javascript
    $("form").validateForm();
    $('.sign-up-btn').click(function(){
      $('.modal .alert-error').remove(); // remove the alert errors in the form if any
    });
