.container.relativePosition
  #logo-container
    %h1 Welcome to
  #btn-container
    #btns
      %a{:href=>"/consumers",:class=>"btn btn-big green-btn"} I am a fashion enthusiast
      %a{:href=>"/retailers",:class=>"btn btn-big green-btn"} I am a fashion retailer
  
