#retailer-home-page
  %section#retailer-featured-section.content-container
    .container
      #retailer-slogan.pull-right
        %h1 A platform to collect <span style="color:#333"> real-time market data  </span> for fashion brands
        %a{:href=>"#pre-sign-up-modal",:"data-toggle"=>"modal",:class=>"btn btn-big sign-up-btn green-btn pull-right"}
          Join MetaFad
      = render :partial => 'preSignUp'
  %section.retailer-features-section.content-container
    .container
      .row-fluid
        .span4
          %img{:src=>"/images/retailer-features/popularity.png",:alt=>"popularity figure"}
        .span8
          %h1 Measure product popularity
          %ul 
            %li Survey consumers' preference
            %li Capture the current fashion trend
            %li Forecast inventory to reduce production cost
  %section.retailer-features-section.black-bg.white-font.content-container
    .container
      .row-fluid
        .span4
          %img{:src=>"/images/retailer-features/consumers.png",:alt=>"consumers figure"}
        .span8
          %h1 Analyze target consumers
          %ul 
            %li Collect comprehensive consumer profiles
            %li Learn consumer's specific fashion preference
            %li Push personalized sales promotions
  %section.retailer-features-section.content-container
    .container
      .row-fluid
        .span4
          %img{:src=>"/images/retailer-features/market.png",:alt=>"market figure"}
        .span8
          %h1 Market trendy designs
          %ul 
            %li Establish noble fashion brand
            %li Reach pool of fashion enthusiasts
            %li Gain higher conversion rate
