#retailer-home-page
  %section#retailer-featured-section.content-container
    .container
      #retailer-slogan.pull-right
        %h1 A platform to collect <span style="color:#333"> real-time market data  </span> for fashion retailers
        %a{:href=>"#pre-sign-up-modal",:"data-toggle"=>"modal",:class=>"btn sign-up-btn green-btn pull-right"}
          %img.icon{:src=>"/images/icons/join-icon.png",:alt=>"join-icon"} Join MetaFad
      = render :partial => 'preSignUp'
  %section.retailer-features-section.content-container
    .container
      .row-fluid
        .span4
          %img{:src=>"/images/retailer-features/bar.png",:alt=>"bar-figure"}
        .span8
          %h1 Predict product popularity
          %ul 
            %li Survey real time market
            %li Capture the current fashion trend
            %li Forecast inventory to reduce production cost
  %section.retailer-features-section.black-bg.white-font.content-container
    .container
      .row-fluid
        .span4
          %img{:src=>"/images/retailer-features/pie.png",:alt=>"pie-figure"}
        .span8
          %h1 Analyze target consumers
          %ul 
            %li Collect comprehensive consumer profiles
            %li Learn consumer's specific fashion preference
            %li Push personalized sales promotions
  %section.retailer-features-section.content-container
    .container
      .row-fluid
        .span4
          %img{:src=>"/images/retailer-features/scatter.png",:alt=>"scatter-figure"}
        .span8
          %h1 Market trendy designs
          %ul 
            %li Establish noble fashion brand
            %li Reach pool of fashion enthusiasts
            %li Gain higher conversion rate
