.container#terms-page
  %section#terms-of-use
    %h1 Terms of Use
    .content-container
      %p By using the http://metafad.com website and MetaFad service you are agreeing to be bound by the following terms and conditions ("Terms of Use").  MetaFad is a social voting application that allows you to vote and comment on the fashion polls on metafad.com (the “Site”), on our application for mobile devices (the “Mobile Software”), and through third party applications. We call the services available on the Site, whether accessed directly, or through the Mobile Software or such third party applications, the “Service(s).”

      %p By accessing or using the MetaFad Service, you agree to be bound by these Terms and by our Privacy Policy, whether or not you are a registered user of our Service. These Terms apply to all visitors, registered users, and others who access the Service (“Users”).
      %h3 Basic Terms
      %ol 
        %li You must be 13 years or older to use this site.
        %li You may not post nude, partially nude, or sexually suggestive photos.
        %li You are responsible for any activity that occurs under your screen name.
        %li You are responsible for keeping your password secure.
        %li You must not abuse, harass, threaten, impersonate or intimidate other MetaFad users.
        %li You may not use the MetaFad service for any illegal or unauthorized purpose. International users agree to comply with all local laws regarding online conduct and acceptable content.
        %li You are solely responsible for your conduct and any data, text, information, screen names, graphics, photos, profiles, audio and video clips, links ("Content") that you submit, post, and display on the MetaFad service.
        %li You must not modify, adapt or hack MetaFad or modify another website so as to falsely imply that it is associated with MetaFad.
        %li You must not crawl, scrape, or otherwise cache any content from MetaFad including but not limited to user profiles and photos.
        %li You must not create or submit unwanted email or comments to any MetaFad members ("Spam").
        %li You must not transmit any worms or viruses or any code of a destructive nature.
        %li You must not, in the use of MetaFad, violate any laws in your jurisdiction (including but not limited to copyright laws).
        %li Violation of any of these agreements will result in the termination of your MetaFad account. While MetaFad prohibits such conduct and content on its site, you understand and agree that MetaFad cannot be responsible for the Content posted on its web site and you nonetheless may be exposed to such materials and that you use the MetaFad service at your own risk.
      %h3 General Conditions
      %ol 
        %li We reserve the right to modify or terminate the MetaFad service for any reason, without notice at any time.
        %li We reserve the right to alter these Terms of Use at any time. If the alterations constitute a material change to the Terms of Use, we will notify you via internet mail according to the preference expressed on your account. What constitutes a "material change" will be determined at our sole discretion, in good faith and using common sense and reasonable judgment.
        %li We reserve the right to refuse service to anyone for any reason at any time.
        %li We reserve the right to force forfeiture of any username that becomes inactive, violates trademark, or may mislead other users.
        %li We may, but have no obligation to, remove Content and accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, obscene or otherwise objectionable or violates any party's intellectual property or these Terms of Use.
        %li We reserve the right to reclaim usernames on behalf of businesses or individuals that hold legal claim or trademark on those usernames.
      %h3 Proprietary Rights in Content on MetaFad
      %ol 
        %li MetaFad does NOT claim ANY ownership rights in the text, files, images, photos, video, sounds, musical works, works of authorship, applications, or any other materials (collectively, "Content") that you post on or through the MetaFad Services. By displaying or publishing ("posting") any Content on or through the MetaFad Services, you hereby grant to MetaFad a non-exclusive, fully paid and royalty-free, worldwide, limited license to use, modify, delete from, add to, publicly perform, publicly display, reproduce and translate such Content, including without limitation distributing part or all of the Site in any media formats through any media channels, except Content not shared publicly ("private") will not be distributed outside the MetaFad Services.
        %li Some of the MetaFad Services are supported by advertising revenue and may display advertisements and promotions, and you hereby agree that MetaFad may place such advertising and promotions on the MetaFad Services or on, about, or in conjunction with your Content. The manner, mode and extent of such advertising and promotions are subject to change without specific notice to you.
        %li You represent and warrant that: (i) you own the Content posted by you on or through the MetaFad Services or otherwise have the right to grant the license set forth in this section, (ii) the posting and use of your Content on or through the MetaFad Services does not violate the privacy rights, publicity rights, copyrights, contract rights, intellectual property rights or any other rights of any person, and (iii) the posting of your Content on the Site does not result in a breach of contract between you and a third party. You agree to pay for all royalties, fees, and any other monies owing any person by reason of Content you post on or through the MetaFad Services.
        %li The MetaFad Services contain Content of MetaFad ("MetaFad Content"). MetaFad Content is protected by copyright, trademark, patent, trade secret and other laws, and MetaFad owns and retains all rights in the MetaFad Content and the MetaFad Services. MetaFad hereby grants you a limited, revocable, nonsublicensable license to reproduce and display the MetaFad Content (excluding any software code) solely for your personal use in connection with viewing the Site and using the MetaFad Services.
        %li The MetaFad Services contain Content of Users and other MetaFad licensors. Except as provided within this Agreement, you may not copy, modify, translate, publish, broadcast, transmit, distribute, perform, display, or sell any Content appearing on or through the MetaFad Services.
        %li MetaFad performs technical functions necessary to offer the MetaFad Services, including but not limited to transcoding and/or reformatting Content to allow its use throughout the MetaFad Services.
      %p Although the Site and other MetaFad Services are normally available, there will be occasions when the Site or other MetaFad Services will be interrupted for scheduled maintenance or upgrades, for emergency repairs, or due to failure of telecommunications links and equipment that are beyond the control of MetaFad. Also, although MetaFad will normally only delete Content that violates this Agreement, MetaFad reserves the right to delete any Content for any reason, without prior notice. Deleted content may be stored by MetaFad in order to comply with certain legal obligations and is not retrievable without a valid court order. Consequently, MetaFad encourages you to maintain your own backup of your Content. In other words, MetaFad is not a backup service. MetaFad will not be liable to you for any modification, suspension, or discontinuation of the MetaFad Services, or the loss of any Content.
  %br
  %br
  %section#privacy-policy
    %h1 Privacy Policy
    .content-container
      %p Welcome to MetaFad, Inc. ("MetaFad," "we," "us" or "our"). MetaFad is a social voting application that allows you to share and consume media. Create a poll, snap a photo, and/or vote upon/add comments (if you like) to other user polls. MetaFad is designed to allow users to post photographs for public review and comment. By submitting your photograph and/or posting comments and/or voting, you waive any privacy expectations you have with respect to those photographs and/or comments and/or votes and to our use thereof. If you do not wish to have your picture, comments, or votes viewed by or disclosed to others, do not use the MetaFad application or MetaFad website.
      %p Our Privacy Policy explains how we collect, use, share and protect information in relation to our mobile services, web site, and any software provided on or in connection with MetaFad services (collectively, the "Service"), and your choices about the collection and use of your information.
      %p By using our Service you understand and agree that we are providing a platform for you to post content, including photos, comments and other materials ("User Content"), to the Service and to share User Content publicly. This means that other Users may search for, see, use, or share any of your User Content that you make publicly available through the Service, consistent with the terms and conditions of this Privacy Policy and our Terms of Use (found at http://musememobile.com/legal/terms). 
      %p Our Policy applies to all visitors, users, and others who access the Service ("Users").
      %ol
        %li 
          %h3 INFORMATION WE COLLECT
          %p We collect the following types of information.
          %ul 
            %li 
              %b Information you provide us directly:
              %ul 
                %li Your username, password and e-mail address when you register for a MetaFad account.
                %li Profile information that you provide for your user profile (e.g., first and last name, picture). This information allows us to help you or others be "found" on MetaFad.
                %li User Content (e.g., photos, comments, and other materials) that you post to the Service.
                %li Communications between you and MetaFad. For example, we may send you Service-related emails (e.g., account verification, changes/updates to features of the Service, technical and security notices). Note that you may not opt out of Service-related e-mails.
            %li 
              %b Finding your friends on MetaFad:
              %ul 
                %li If you choose, you can use our "Find friends" feature to locate other people with MetaFad accounts either through (i) your contacts list, (ii) third-party social media sites or (iii) through a search of names and usernames on MetaFad.
                %li If you choose to find your friends through a (ii) third-party social media site, then you will be prompted to set up a link to the third-party service and you understand that any information that such service may provide to us will be governed by this Privacy Policy.
                %li If you choose to find your friends (iii) through a search of names or usernames on MetaFad then simply type a name to search and we will perform a search on our Service.
            %li 
              %b Analytics information:
              %ul 
                %li We use third-party analytics tools to help us measure traffic and usage trends for the Service. These tools collect information sent by your device or our Service, including the web pages you visit, add-ons, and other information that assists us in improving the Service. We collect and use this analytics information with analytics information from other Users so that it cannot reasonably be used to identify any particular individual User.
            %li 
              %b Cookies and similar technologies:
              %ul 
                %li When you visit the Service, we may use cookies and similar technologies like pixels, web beacons, and local storage to collect information about how you use MetaFad and provide features to you.
                %li We may ask advertisers or other partners to serve ads or services to your devices, which may use cookies or similar technologies placed by us or the third party.
            %li 
              %b Log file information:
              %ul
                %li Log file information is automatically reported by your browser each time you make a request to access (i.e., visit) a web page or app. It can also be provided when the content of the webpage or app is downloaded to your browser or device.
                %li When you use our Service, our servers automatically record certain log file information, including your web request, Internet Protocol ("IP") address, browser type, referring / exit pages and URLs, number of clicks and how you interact with links on the Service, domain names, landing pages, pages viewed, and other such information. We may also collect similar information from emails sent to our Users which then help us track which emails are opened and which links are clicked by recipients. The information allows for more accurate reporting and improvement of the Service.
            %li 
              %b Device identifiers:
              %ul
                %li When you use a mobile device like a tablet or phone to access our Service, we may access, collect, monitor, store on your device, and/or remotely store one or more "device identifiers." Device identifiers are small data files or similar data structures stored on or associated with your mobile device, which uniquely identify your mobile device. A device identifier may be data stored in connection with the device hardware, data stored in connection with the device's operating system or other software, or data sent to the device by MetaFad.
                %li A device identifier may deliver information to us or to a third party partner about how you browse and use the Service and may help us or others provide reports or personalized content and ads. Some features of the Service may not function properly if use or availability of device identifiers is impaired or disabled.
            %li 
              %b Metadata:
              %ul
                %li Metadata is usually technical data that is associated with User Content. For example, Metadata can describe how, when and by whom a piece of User Content was collected and how that content is formatted.
                %li Users can add or may have Metadata added to their User Content including a hashtag (e.g., to mark keywords when you post a photo), geotag (e.g., to mark your location to a photo), comments or other data. This makes your User Content more searchable by others and more interactive. If you geotag your photo or tag your photo using other's APIs then, your latitude and longitude will be stored with the photo and searchable (e.g., through a location or map feature) if your photo is made public by you in accordance with your privacy settings.
        %li 
          %h3 HOW WE USE YOUR INFORMATION
          %p In addition to some of the specific uses of information we describe in this Privacy Policy, we may use information that we receive to:
          %ul 
            %li Help you efficiently access your information after you sign in
            %li Remember information so you will not have to re-enter it during your visit or the next time you visit the Service;
            %li Provide personalized content and information to you and others, which could include online ads or other forms of marketing
            %li Provide, improve, test, and monitor the effectiveness of our Service
            %li Develop and test new products and features
            %li Monitor metrics such as total number of visitors, traffic, and demographic patterns
            %li Diagnose or fix technology problems
            %li Automatically update the MetaFad application on your device MetaFad or other Users may run contests, special offers or other events or activities ("Events") on the Service. If you do not want to participate in an Event, do not use the particular Metadata (i.e. hashtag or geotag) associated with that Event.
        %li
          %h3 SHARING OF YOUR INFORMATION
          %p We will not rent or sell your information to third parties outside MetaFad (or the group of companies of which MetaFad is a part) without your consent, except as noted in this Policy.
          %ul 
            %li 
              %b Parties with whom we may share your information:
              %ul 
                %li We may share your information as well as information from tools like cookies, log files, and device identifiers and location data (such as usage data, referring/exit pages and URLs, platform types, number of clicks, etc.), with organizations that help us provide the Service to you ("Service Providers"). Our Service Providers will be given access to your information as is reasonably necessary to provide the Service under reasonable confidentiality terms.
                %li We may also share certain information such as cookie data with third-party advertising partners. This information would allow third-party ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you.
                %li We may remove parts of data that can identify you and share anonymous data with other parties. We may also combine your information with other information in a way that it is no longer associated with you and share that aggregated information.
            %li
              %b Parties with whom you may choose to share your User Content:
              %ul
                %li Any information or content that you voluntarily disclose for posting to the Service, such as User Content, becomes available to the public, as controlled by any applicable privacy settings that you set. To change your privacy settings on the Service, please change your profile setting. Once you have shared User Content or made it public, that User Content may be re-shared by others.
            %li 
              %b What happens in the event of a change of control:
              %ul
                %li If we sell or otherwise transfer part or the whole of MetaFad or our assets to another organization (e.g., in the course of a transaction like a merger, acquisition, bankruptcy, dissolution, liquidation), your information such as name and email address, User Content and any other information collected through the Service may be among the items sold or transferred. You will continue to own your User Content. The buyer or transferee will have to honor the commitments we have made in this Privacy Policy.
            %li
              %b Instances where we may be required to share your information:
              %p MetaFad will disclose your information where required to do so by law or by judicial process or if we reasonably believe that such action is necessary to:
              %ul 
                %li comply with the law and the reasonable requests of law enforcement
                %li enforce our Terms of Use
                %li protect the security or integrity of our Service
                %li exercise or protect the rights, property, or personal safety of MetaFad, our Users or others
        %li 
          %h3 HOW WE STORE YOUR INFORMATION
          %ul
            %li
              %b Storage and Processing:
              %ul
                %li Your information collected through the Service may be stored and processed in the United States or any other country in which MetaFad, a company in the same group of companies as MetaFad or Service Providers maintain facilities.
                %li MetaFad may transfer information that we collect about you, including personal information across borders and from your country or jurisdiction to other countries or jurisdictions around the world. If you are located in the European Union or other regions with laws governing data collection and use that may differ from U.S. law, please note that we may transfer information, including personal information, to a country and jurisdiction that does not have the same data protection laws as your jurisdiction.
                %li By registering for and using the Service you consent to the transfer of information to the U.S. or to any other country in which MetaFad, a company in the same group of companies as MetaFad or Service Providers maintain facilities and the use and disclosure of information about you as described in this Privacy Policy.
                %li We use commercially reasonable safeguards to help keep the information collected through the Service secure and take reasonable steps (such as requesting a unique password) to verify your identity before granting you access to your account. However, MetaFad cannot ensure the security of any information you transmit to MetaFad or guarantee that information on the Service may not be accessed, disclosed, altered, or destroyed.
                %li Please do your part to help us. You are responsible for maintaining the secrecy of your unique password and account information, and for controlling access to emails between you and MetaFad, at all times. Your privacy settings may also be affected by changes the social media services you connect to MetaFad make to their services. We are not responsible for the functionality, privacy, or security measures of any other organization.
        %li 
          %h3 YOUR CHOICES ABOUT YOUR INFORMATION
          %ul 
            %li
              %b Your account information and profile/privacy settings:
              %ul
                %li Update your account at any time by logging in and changing your profile settings.
                %li If you have any questions about reviewing or modifying your account information, please contact us directly at customer@musememobile.com
            %li 
              %b How long we keep your User Content:
              %ul
                %li Following termination or deactivation of your account, MetaFad may retain information (including your profile information) and User Content for a commercially reasonable time for backup, archival, and/or audit purposes.
                %li If you have any questions about termination or deactivation of your account, please contact us directly at customer@musememobile.com
        %li
          %h3  CHILDREN'S PRIVACY
          %p MetaFad does not knowingly collect or solicit any information from anyone under the age of 13 or knowingly allow such persons to register for the Service. The Service and its content are not directed at children under the age of 13. In the event that we learn that we have collected personal information from a child under age 13 without parental consent, we will delete that information as quickly as possible. If you believe that we might have any information from or about a child under 13, please contact us at customer@musememobile.com
        %li  
          %h3 OTHER WEB SITES AND SERVICES
          %p We are not responsible for the practices employed by any websites or services linked to or from our Service, including the information or content contained within them. Please remember that when you use a link to go from our Service to another website or service, our Privacy Policy does not apply to those third-party websites or services. Your browsing and interaction on any third-party website or service, including those that have a link on our website, are subject to that third party's own rules and policies. In addition, you agree that we are not responsible and do not have control over any third-parties that you authorize to access your User Content. If you are using a third-party website or service and you allow them to access your User Content you do so at your own risk.
        %li 
          %h3 HOW TO CONTACT US ABOUT A DECEASED USER
          %p In the event of the death of an MetaFad User, please send us an email to the following email address: customer@musememobile.com We will usually conduct our communication via email; should we require any other information, we will contact you at the email address you have provided in your request.
        %li 
          %h3 HOW TO CONTACT US
          %p If you have any questions about this Privacy Policy or the Service, please contact us at customer@musememobile.com
        %li 
          %h3 CHANGES TO OUR PRIVACY POLICY
          %p MetaFad may modify or update this Privacy Policy from time to time, so please review it periodically. We may provide you additional forms of notice of modifications or updates as appropriate under the circumstances. Your continued use of MetaFad or the Service after any modification to this Privacy Policy will constitute your acceptance of such modification.

