#contact-page{
	width:960px;
	min-height:810px;
}
#contact-page form{
	margin-top:40px;
}

#contact-page .field{
	margin-bottom:10px;
}
.actions input:hover{
  color:#999;
}

.textarea textarea{
	width:60%;
	height:220px;
	margin-top:0.5em;
}

@media (max-width:480px){
  #contact-page.container{
  	width:auto;
  	padding:0px 20px 0px 20px;
  }
}