#featured-polls-section{
	background-color:#333;
	z-index:0;
}
#featured-polls-section .section-title{
  left:25%;
  width:50%;
  top:-75px;
}
#featured-polls-section .header{
  margin-bottom: 10px;
  color:#eee;
}
#featured-polls .poll-title{
	width:245px;
	float: left;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.title-container.poll{
  width:94%;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:3%;
  padding-right:3%;
  position: absolute;
  bottom: 0px;
  left:0px;
  background-color: rgba(254,254,254,0.8);
}
.vote-container .icon{
  margin-right:0;
}
.poll span{
  vertical-align: middle;
}
#featured-polls-section .mask{
	width:100%;
	height:100%;

}
#featured-polls-section .mask-content{
	left:30%;
}
#featured-polls-section .poll-container .mask-content{
  left:40%;
}
#featured-polls-section .item-container{
	padding:0;
}
#featured-polls-section .lightbox{
  margin-left:20px;
}
#featured-polls-section .items-container .row-fluid{
  padding:0 0 20px 0;
}
.img-container.img-collage-container{
  height:310px;
}
.img-container{
  background:url(/images/icons/loading.gif) no-repeat; 
  background-position: 49% 49%;
}
#featured-polls-section #poll-view-wrapper{
  padding-top:20px;
}
#poll-view-wrapper .poll-title{
  margin-bottom:10px;
}
#featured-polls-section #poll-view-wrapper .poll-title a{
  cursor: default;
  pointer-events:none;
  color:rgb(220,20,20);
}
#featured-polls-section #poll-view-wrapper .date{
  color:gray;
  margin-left:10px;
}
.date{
  font-size:0.75em;
  font-family: 'Arial';
}
.item-info{
  padding:10px;
  font-family: 'Arial';
  font-size:13px;
  line-height:18px;
  color:#333;
}
#featured-polls-section .poll-result{
  position: absolute;
  left:0px;
  top:0px;
  background-color:rgba(0,0,0,0.5);
  padding:8px;
}
#featured-polls-section .poll-result h3{
  color:#eee;
}
#notice-container .alert{
  width:82%;
}
#featured-polls-section .poll-description{
  font-family: 'Helvetica',sans-serif;
  margin-bottom: 20px;
}
.white{
  color:#eee;
}




