/* color scheme*/
/* 
  BlueishWhite = rgb(213,234,222)
  Red = rgb(234,46,73)
  Blue = rgb(119,116,211)
  Black = rgb(51,55,69)
  Yellow = rgb(246,247,146)
*/
/*@font-face {
    font-family: "American Typewriter";
    src: url('/fonts/american_typewriter.ttf') format("truetype");
}*/
/* color scheme*/
/* 
  BlueishWhite = rgb(213,234,222)
  Red = rgb(234,46,73)
  Blue = rgb(119,116,211)
  Black = rgb(51,55,69)
  Yellow = rgb(246,247,146)
*/
/*@font-face {
    font-family: "American Typewriter";
    src: url('/fonts/american_typewriter.ttf') format("truetype");
}*/
body {
	background-color:#e8e8e8;
	background-image:url(/images/backgrounds/bg.png);
	margin:0;
	padding:0;
}
.main-content{
	margin-top:68px;
}
body,h1,h2,h3,h4,h5,p,label,button{
	font-family: "Century Gothic",sans-serif;
	/*color:rgb(134,134,134);*/
	color:#333;
}
h1{
	font-size:36px;
	line-height: 1.2em;
	font-weight: normal;
}
h1.extra-big{
	font-size:56px;
}
h2{
	font-size:30px;
	line-height: 1.2em;
	font-weight: normal;
}
img{
	width:100%;
}
.btn{
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
}
.container{
	width:980px;
}
.btn.btn-big,h3,label,input{
  font-size:16px;
  line-height:20px;
  font-weight:normal;
}
.btn.btn-big{
  font-weight:bold;
}
/*.btn,.btn-group>.btn:first-child,.btn-group>.btn:last-child{
	border-radius:0px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
}*/
.btn.btn-big{
  padding:15px;
}
.icon{
	height:20px;
	width:auto;
	display: inline-block;
	margin-right:5px;
	vertical-align: middle;
}
.icon.icon-big{
	height:25px;
	background-image: none;
}
.green-btn{
   background-color:rgb(165,224,110);
  /*background-image:none;*/
	background-image: linear-gradient(bottom, rgb(54,115,0) 0%, rgb(165,224,110) 100%);
	background-image: -o-linear-gradient(bottom, rgb(54,115,0) 0%, rgb(165,224,110) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(54,115,0) 0%, rgb(165,224,110) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(54,115,0) 0%, rgb(165,224,110) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(54,115,0) 0%, rgb(165,224,110) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(54,115,0)),
		color-stop(1, rgb(165,224,110))
	);
  border:1px solid #2a4f07;
  color:#2a4f07;
}
.btn.green-btn:hover{
  background-color:rgb(54,115,0);
  color:#2a4f07;
}
.green{
	color:rgb(213,234,222);
}
.error{
	color:#b94a48;
	background-color:#f2dede;
	padding:8px 35px 8px 14px;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}
.login-fb{
	cursor: pointer;
}
.alert{
	opacity: 0.85;
	-webkit-opacity:0.85;
	-moz-opacity:0.85;
}
.main-content{
	min-height:810px;
}
.time-stamp{
	font-size:13px;
	color:#666;
}
.poll-title{
  font-family: "American Typewriter",Helvetica;
  letter-spacing: 0.1em;
}

.flash-container{
	position:absolute;
	top:20px;
	width:100%;
	z-index:21;
}
.relativePosition{
	position: relative;
}

.text-shadow-1{
	text-shadow:2px 2px 0 white;
}
.text-shadow-2{
	text-shadow:1px 1px 0 white;
}
.text-shadow-black{
	text-shadow:2px 2px 0 black;
}
.text-shadow-black-2{
	text-shadow:1px 1px 1px black;
}


.mobile-view-show{
	display: none;
}

#header{
	z-index: 20;
	background-image: url('/images/backgrounds/header.png');
	box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.75);
	position: fixed;
	top:0px;
	width:100%;
	min-width:980px;
}

#brand{
	height:70px;
    width:auto;
	position: relative;
	top:-10px;
}
#header .download-btn{
	margin-top:5px;
	margin-right:20px;
}
#header a{
	color:#e8e8e8;
    font-size:16px;
    line-height:20px;
    /*text-shadow:1px 1px 0 black;*/
}
#header a:hover{
	text-decoration: none;
	color: #08c;
}
#header .right-text{
	padding:12.5px 0 12.5px 0;
}
.header-container{
	width:980px;
	margin:0 auto;
	/*box-shadow:0 1px 0 1px #999;
	-webkit-box-shadow:0 1px 1px 1px #999;
	-moz-box-shadow:0 1px 1px 1px #999;*/
	height:45px;
	padding:12.5px 0 12.5px 0px;
}
#header .user-profile-photo img{
	width:100%;
	height:auto;
}
.user-profile-photo{
	float:left;
}
.user-profile-photo.small{
	height:30px;
	width:30px;
	overflow: hidden;
	margin-right:10px;
}
#header .caret{
	border-top-color:white;
}
#header .dropdown-menu a{
	color:#333;
	font-size:13px;
	line-height: 18px;
}
#user-info-container{
  /*padding-right:40px;*/
}
#sign-in{
	cursor: pointer;
	padding-right:10px;
	border-right:1px solid #666;
}
#identity{
	padding-left:10px;
}
section.content-container{
	padding-top:35px;
	padding-bottom:35px;
	min-width: 980px;
	min-height:0;

}
#featured-section{
	background:url('/images/backgrounds/photo-grid-bg.jpg') no-repeat;
	z-index: 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 430px;
}
/*#featured-section .sign-up-btn{
  position: absolute;
  left:174px;
  bottom:-28px;

}*/
#carousel{
	display: inline-block;
}
#slogan{
	width:45%;
	z-index:15;
}
#slogan h1.extra-big{
	color:white;
	margin-bottom: 15px;
}
#slogan article{
	padding:20px 36px 40px 36px;
	background-color:rgba(250,250,250,0.8);
	z-index: -2;
}
#slogan p{
	font-family: 'Arial';
}
#slogan .ribbon{
	position:absolute;
	left:160px;
	bottom:-90px;
}
#slogan .ribbon a h1:hover{
  color:#7ea859;
}
#features-section article h3{
	margin-bottom: 10px;
	font-family: 'Helvetica';
}
#features-section article{
	padding-top:50px;
}
article.center{
	text-align: center;
}
#features-section img{
	width:200px;
	margin-bottom: 10px;
}
#features-section .span4 .title{
	width:200px;
	text-align: center;
}
#features-section .span4{
	text-align: center;
	margin:0;
	width:33.33%;
	float: left; /*cancel the responsive css*/
}
#features-section .span4:first-child{
    text-align: left;
}
#features-section .span4:first-child .title{
    margin:0 auto 0 0;
}
#features-section .span4:nth-child(2){
    text-align: center;
}
#features-section .span4:nth-child(2) .title{
    margin:0 auto;
}
#features-section .span4:last-child{
	text-align: right;
}
#features-section .span4:last-child .title{
    margin:0 0 0 auto;
}
#features-section .row-fluid{
	padding:25px 0 50px 0;
}
#featured-polls-section .row-fluid{
	padding:30px 0;
}
.shadow{
	box-shadow:0px 0px 5px 0px #666;
	-webkit-box-shadow:0px 0px 5px 0px #666;
	-moz-box-shadow:0px 0px 5px 0px #666;
}
.shadow-subtle-black{
	box-shadow:0px 0px 2px 0px #666;
	-webkit-box-shadow:0px 0px 2px 0px #666;
	-moz-box-shadow:0px 0px 2px 0px #666;
}
.shadow-subtle{
	box-shadow:0px 1px 3px 0px rgba(255,255,255,0.4);
	-webkit-box-shadow:0px 1px 3px 0px rgba(255,255,255,0.4);
	-moz-box-shadow:0px 1px 3px 0px rgba(255,255,255,0.4);
}
#app-demo-container{
	/*background: url('/images/app-demo/iphone.png') no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	height:522px;
	width:262px;
	position:absolute;
	right:476px;
	top:0px;
}
#app-demo{
	padding-top:82px; 
	padding-left:14px;
}
#app-demo .slider-wrapper{
	height:349px;
	width:232px;
	/*background-color: rgba(220,0,0,0.5);*/
}
#iphone-mask{
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
}
#consumer-home-page .mod
/* general home page css starts */
#logo-container{
  width:100%;
  height:425px;
  margin-top:50px;
  background-image:url("/images/backgrounds/logo_big.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  top:-500px;
}
#logo-container h1{
	padding-top: 15px;
}
#btn-container{
   width:480px;
   margin:0 auto;
}
#btns{
	position: absolute;
	top:480px;
}
#btn-container .btn{
	display: inline-block;
}
#btn-container .btn:first-child{
	margin-right:50px;
}
#cover-container{
	width:100%;
	height:388px;
	/*background-color:#666;*/
	position: absolute;
	top:50px;
	left:0px;
}
#cover-container .bar{
	position:absolute;
	height:388px;
	bottom:0;
	background-color: #333;
}
/* general home page css ends */


/* modal forms css begins */
.modal{
	width:600px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.modal-header{
	height:70px;
	padding:0 20px;
	background-image:url("/images/backgrounds/header.png");
}
.modal-header h2{
	color:#eee;
	padding-top:17px;
}
.modal-header .close{
  color:#eee;
  text-shadow:none;
  opacity: 1;
}
.modal-body{
	padding:20px;
	background-image: url("/images/backgrounds/bg.png");
}
.modal-body .btn{
	margin-top:20px;
}
.modal-body .sign-up-btn{
	width:100%;
	padding:10px 0;
}
input[type="text"],input[type="email"],input[type="password"]{
	height:24px;
	border:1px solid #333;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
input#user_last_name,.modal .alert{
	display: inline-block;
}
.modal .alert.error-msg{
	position: relative;
	left:5px;
	/* align up with text input */
	bottom:3px;
	padding-top:6.5px;
	padding-bottom:6.5px;
	margin-bottom:9px;
}
.alert h3{
	color:#b94a48;
}
.alert{
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.modal button.close{
  position:absolute;
  right:15px;
  top:10px;
}
.modal .fb-login-btn{
  margin-top:40%;
}
.modal #new_user{
  
}
.div-line{
  position: absolute;
  top:0;
  left:50%;
  height:100%;
  border-right:1px solid #ddd;
  box-shadow: 0 1px 2px 2px white;
  -webkit-box-shadow: 0 1px 2px 2px white;
  -moz-box-shadow: 0 1px 2px 2px white;
}
.notice-container .div-line{
  width:40%;
  height:0;
  left:30%;
  bottom:0;
  top:auto;
  border-right-width:0px;
  border-bottom:1px solid #ddd;
}
#pre-sign-up-modal .notice-container{
  text-align: center;
  padding:10px 0 30px 0;
}
#pre-sign-up-modal .notice-container h3{
	text-shadow:0 1px 1px gray;
}
#pre-sign-up-modal .modal-body{
	padding-left:60px;
	padding-right:60px;
}
#pre-sign-up-modal form{
	padding-top:20px;
}

/* modal forms css ends */






.download-btn{
	padding:12px 20px 12px 20px;
	text-align:center;
    font-size:17px;
    line-height:22px;
    text-shadow:1px 1px 0 #333;
    -ms-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    color:#e8e8e8;
    cursor:pointer;
}
.download-btn:hover{
	background-image: none;
	
}
.content-container{
	/*background-color:rgb(213,234,222);/*greenish white*/
	min-height:810px;
}
.image-container{
	width:100%;
}
.app-description-container h1{
	padding:40px 0px 25px 13px;
	line-height: 150%;
}

.download-section{
	padding:40px 0px 40px 0px;
}
.app-icon-container{
	height:100px;
	width:100px;
}
img.app-icon{
	width:100px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	margin-left:52px;
}

.download-section .download-btn{
	margin-top:20px;
	width:160px;
	background-color: #75a851;
	font-size:17px;
	font-weight: normal;
	background-image: linear-gradient(bottom, #75a851 0%, #9cc053 100%);
	background-image: -o-linear-gradient(bottom, #75a851 0%, #9cc053 100%);
	background-image: -moz-linear-gradient(bottom, #75a851 0%, #9cc053 100%);
	background-image: -webkit-linear-gradient(bottom, #75a851 0%, #9cc053 100%);
	background-image: -ms-linear-gradient(bottom, #75a851 0%, #9cc053 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #75a851),
		color-stop(1, #9cc053)
	);
	border:2px solid #e8e8e8;
}

.download-section .download-btn:hover{
	background-image:none;
}

.shadow-box{
	box-shadow:2px 2px 8px 2px #999;
	-webkit-box-shadow:2px 2px 8px 2px #999;
	-moz-box-shadow:3px 2px 2px 2px #999;
}

a:hover{
	text-decoration: none;
}

.poll-description p{
	color:#e8e8e8;
	text-shadow:1px 1px 0 black;
}

#footer{
	/*position: absolute;
	bottom:0px;*/
	margin-top:20px;
	background-color;
	height:49px;
}
.footer-container{
	padding:10px 0;
	height:29px;
	width:980px;
	margin: 0 auto;
	vertical-align: middle;
}
#footer ul{
  vertical-align: middle;
  margin:0px;
  position: relative;
  top:7px;
}
#footer li{
	list-style: none;
	float:left;
	margin-left:40px;
	vertical-align: middle;
	color:rgb(51,55,69);
}
#footer li:first-child{
	margin-left: 0;
}

#footer li a{
	/*color:rgb(51,55,69);*/
	cursor: pointer;
}

#footer li a:hover{
	text-decoration: underline;
}

.footer-bg{
	z-index: -1;
	position: absolute;
	top: 0px;
	left:0px;
	height:49px;
	width:100%;
	background-color:#E8E8E8;
	/*opacity:0.2;
	-ms-opacity:0.2;
	-webkit-opacity:0.2;*/
	box-shadow:0px -1px 8px 1px black;
	-webkit-box-shadow:0px -1px 8px 1px black;
	-moz-box-shadow:0px -1px 8px 1px black;
}

#msg p, #msg h3{
	color:#333745;
	font-size: 18px;
}

#msg .modal-body{
	padding:40px 20px 40px 20px;
}
.inline-block{
	float:left;
}
.photo-container{
	width:20%;
	height:auto;
	position: relative;
}
.photo-container img{
	width:100%;
	display: none;
}
.photo-container img:first-child{
	display: block;
}

.featured-photos-container{
 border:10px solid #e8e8e8;
 box-shadow: 0px 1px 1px 0px black;
-moz-box-shadow: 0px 1px 1px 0px black;
-webkit-box-shadow: 0px 1px 1px 0px black;
}

.user-profile-photo img{
	/*height:50px;
	width:50px;*/
	border-radius: 5px;
	-moz-border-radius:5px;
	-web-border-radius:5px;
}
.caption-sub-container .caption{
	display:none;
}
.caption-sub-container .caption:first-child{
	display: block;
}
.user-profile-photo{
	margin-right:20px;
}

.caption{
  position: absolute;
  top:20px;
  left:10%;
  z-index: 3;
  width:80%;
  padding:20px; 
}

.caption-bg{
	position: absolute;
	top:20px;
	left:10%;
	z-index: 3;
	background-color:rgb(51,55,69);
	opacity: 0.4;
	height:100px;
	width:80%;
	border-radius: 10px;
    -moz-border-radius:10px;
    -web-border-radius:10px;
}

.caption p{
	/*color:white;*/
	font-size:18px;
}
.photo-bg{
	position: absolute;
	top:0px;
	left:0px;
    z-index:2;
    width:100%; 
    background-color:rgb(51,55,69);
	opacity: 0.7; 
}
.photo-container img.check-mark{
	width:20%;
	position:absolute;
	z-index: 3;
	bottom:20px;
	right:20px;
	display: block;
}

.hover-effect .check-mark:hover{
	cursor: pointer;
}
.arrow{
	width:12px;
	height:12px;
}
.nav-control{
  position:absolute;
  z-index: 3;
  top:45%;
}
.nav-control img{
	width:40px;
	height:40px;
	opacity: 0.5;
	-moz-opacity:0.5;
	-webkit-opacity:0.5;
}

.nav-control img:hover{
	opacity: 1;
	-moz-opacity:1;
	-webkit-opacity:1;
}

.nav-control.right{
	right:1%;
}
.nav-control.left{
	left:1%;
}

.span9 .textContainer{
	margin-top:35px;
}
.span9 .textContainer h2{
	text-shadow:2px 2px 0 white;
}

#msg .hint-for-sign-up{
  font-size:13px;
  color:#75A851;
}
#sign-in .login-fb{
  margin-left:-3px;
}

.poll-create-btn{
    font-size: 18px;
    line-height: 22px;
    margin-left:10px;
}

/* ribbon css begins */
.ribbon-green{
  background: #a9d880;
  background: -webkit-gradient(linear, left top, left bottom, from(#a9d880), to(#608244));
  background: -webkit-linear-gradient(top, #a9d880, #608244);
  background: -moz-linear-gradient(top, #a9d880, #608244);
  background: -ms-linear-gradient(top, #a9d880, #608244);
  background: -o-linear-gradient(top, #a9d880, #608244);
  background-image: -ms-linear-gradient(top, #a9d880 0%, #608244 100%);
}
.ribbon-red{
	background: #d64b4b;
   background: -webkit-gradient(linear, left top, left bottom, from(#d64b4b), to(#ab2c2c));
   background: -webkit-linear-gradient(top, #d64b4b, #ab2c2c);
   background: -moz-linear-gradient(top, #d64b4b, #ab2c2c);
   background: -ms-linear-gradient(top, #d64b4b, #ab2c2c);
   background: -o-linear-gradient(top, #d64b4b, #ab2c2c);
   background-image: -ms-linear-gradient(top, #d64b4b 0%, #ab2c2c 100%);
}
.ribbon-green h1{
  color: #608244;
  text-shadow: #d8f5bf 0 1px 0;
}
.ribbon-red h1{
   color: #801111;
   text-shadow: #d65c5c 0 1px 0;
}
.ribbon-green:before, .ribbon-green:after{
	border: 1.5em solid #7da858;
}
.ribbon-red:before, .ribbon-red:after{
  border: 1.5em solid #c23a3a;
}
.ribbon-green .ribbon-content:before, .ribbon-green .ribbon-content:after{
   border-color: #608244 transparent transparent transparent;
}
.ribbon-red .ribbon-content:before, .ribbon-red .ribbon-content:after{
   border-color: #871616 transparent transparent transparent;
}

.ribbon {
   width: auto;
   position: absolute;
   text-align: center;
   font-size: 16px!important;
   -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   font-family: 'Helvetica Neue',Helvetica, sans-serif;
}
.ribbon h1 {
   font-size: 25px
   ;
   margin:0px;
   padding: 15px 10px;
}
.ribbon:before, .ribbon:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -1em;
   z-index: -1;
}
.ribbon:before {
   left: -2em;
   border-right-width: 1.5em;
   border-left-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
  
}
.ribbon:after {
   right: -2em;
   border-left-width: 1.5em;
   border-right-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) -1px 1px 1px; 
}
.ribbon .ribbon-content{
	padding:0 15px;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';
   }
.ribbon .ribbon-content:before {
   left: 0;
   border-width: 1em 0 0 1em;
   }
.ribbon .ribbon-content:after {
   right: 0;
   border-width: 1em 1em 0 0;
   }
.ribbon-stitches-top {
   margin-top:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}
.ribbon-stitches-bottom {
   margin-bottom:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
}

/* ribbon css end */









