#retailer-featured-section{
	padding:0;
	border-bottom:1px solid rgb(205,205,205);	
}
#retailer-featured-section .container{
	background-image:url("/images/backgrounds/dataVis.png");
	background-repeat: no-repeat;
	height:375px;
}
#retailer-slogan h1{
	margin:35px 0 20px 0;
	width:430px;
	padding:15px;
	background-color: rgba(235,235,235,0.8);
	text-align: right;
}
section.retailer-features-section{
	padding-bottom:35px;	
}
section.retailer-features-section h1{
	margin-bottom:5px;
}
.black-bg{
	background-color: rgba(20,20,20,0.8);
}
.white-font,.white-font h1{
	color:#eee;
}
.retailer-features-section li{
	font-size:16px;
	line-height:20px;
}