#user-profile-page .container,#user-settings-page .container{
	min-height:400px;
	background-color: white;
	padding:20px;
}
.round{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  float:left;
  margin-right:20px;
  text-align: center;
  font-weight: bold;
  font-size:16px;
  line-height:20px;
  vertical-align: middle;
}
.black-bg{
	color:#eee;
	background-color:#333;
}
#user-profile-page #summary .round{
	width:50px;
	height:20px;
	padding-top:15px;
  padding-bottom:15px;
}
#user-profile-page #summary{
	margin-bottom:20px;
}
#user-profile-page #summary h3{
	padding:15px 0;
}
#content-container table{
	width:65%;
}
#content-container table td{
	border-width:0;
}
.table td{
	vertical-align: middle;
}
.points-tbody td:first-child{
	white-space: nowrap;
}
.points-tbody td.poll-thumbnail-container img{
	height:36px;
	width:auto;
}
.gray{
	color:#666;
}
#achievement-container{
	width:30%;
}
#achievement-container .alert h3{
  color:#468847;
}
#achievement-container .well{
	padding:19px;
	min-height:60px;
}
#achievement-container ul{
	list-style: none;
	margin-left:0;
}
#user-profile-page .placeholder{
  width:980px;
  height:600px;
  background-position: 300px 100px;
  background-repeat: no-repeat;
}
.coupon-bg{
	background-image:url(/images/backgrounds/coupon.png);
}

/* settings page css begins */
#user-settings-page .profile-image-container{
	margin-right:20px;
	width:125px;
	height:100%;
}
#user-settings-page button{
	margin-top:10px;
}
#user-settings-page .actions{
	margin-top:5px;
}
/* settings page css ends */