%p Dear #{@user.user_name},
%p Thanks for the pre-launch registering!
%p You have earned 500 points! The points will be in your account when you install the app and sign up with your registered email. 
%br
%p Sincerely,
%p The MetaFad Team