%p Dear #{@retailer.name},
%p Thanks for visiting us and your interest in working with us!
%p We're dedicated to provide you with the platform to collect real-time market data and help you forecast the fashion trend.
%p Please stay tuned, and our Faddi-Care representative will contact you shortly.
%br
%p Sincerely,
%p The MetaFad Team